{% extends 'base.html' %}
{% load static %}

{% block links %} 
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}


{% block content %}
    <div class = "block">
        <div class = "profile">
            <img class = "indicator" src="{% static 'images/Indicator.png' %}">
            <h2>Lina Li</h2>
            <p>@thelili</p>
            <div class = "subscribers">
                <div class = "statics">
                   <h5>566</h5>
                    <p class="text">Дописи</p> 
                </div>
                <div class = "statics">
                    <h5>12.1K</h5>
                    <p class="text">Читачі</p>
                </div>                
              <div class = "statics">
                <h5>222</h5>
                <p class="text">Друзі</p>
              </div>
            </div>  
        </div>
        <div class = "requests">
            <div class = "icon-div">
                <img src="{% static 'images/Vector.png' %}">
                <p>Запити</p>
                <p>Дивитись всі</p>
            </div>
            <div class = "icon">
                <img src="{% static 'images/Avatar.png' %}">
                <p>Yehor Aung</p>
                <p>4.3к підписників</p>
            </div>
            <div class = "icon">
                <img src="{% static 'images/Avatar (1).png' %}">
                <p>Ann Ann</p>
                <p>1.6к підписників</p>
            </div>
            <div class = "icon">
                <img src="{% static 'images/Avatar (2).png' %}">
                <p>Yeugen Jenua</p>
                <p>10.3к підписників</p>
            </div>
        </div>    
        <div class = "message">
                <div class = "icon-div">
                    <img src="{% static 'images/Group.png' %}">
                    <p>Повідомлення</p>
                    <p>Дивитись всі</p>
                </div>
                <div class = "icon">
                    <img src="{% static 'images/Avatar (3).png' %}">
                    <p>Mona Lisa</p>
                    <p>Привіт! Як справи ?</p>
                    <p>09:41</p>
                </div>
                <div class = "icon">
                    <img src="{% static 'images/Avatar (4).png' %}">
                    <p>Ann Ti</p>
                    <p>Привіт!</p>
                    <p>25.04.2025</p>
                </div>
                <div class = "icon">
                    <img src="{% static 'images/Avatar (5).png' %}">
                    <p>Ness Ty</p>
                    <p>Привіт!</p>
                    <p>25.04.2025</p>
                </div>
        </div>
    </div>        


{% endblock %}