{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} {% endblock %}</title>
        {% block links %} 
        
        {% endblock %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <header {% if not user.is_authenticated %} class="header-empty" {% endif %}>
            <div class = "logo-div">
                <img src="{% static 'images/wit_logo.png' %}">
            </div>
            
            {% if user.is_authenticated %}
                <div class = "links-div">
                    <div class = "linkdiv">
                        <div class = "icondiv"><img src="{% static 'images/header_icons/house.png' %}"></div>
                        <a href = "{% url 'home' %}">Головна</a>
                    </div>
                    <div class = "linkdiv">
                        <div class = "icondiv"><img src="{% static 'images/header_icons/picture.png' %}"></div>
                        <a href = "">Мої публікації</a>
                    </div>
                    <div class = "linkdiv">
                        <div class = "icondiv"><img src="{% static 'images/header_icons/people.png' %}"></div>
                        <a href = "">Друзі</a>
                    </div>
                    <div class = "linkdiv">
                        <div class = "icondiv"><img src="{% static 'images/header_icons/chat.png' %}"></div>
                        <a href = "">Чати</a>
                    </div>
                    <div class = "linkdiv">
                        <div class = "icondiv"><img src="{% static 'images/header_icons/settings.png' %}"></div>
                        <a href = "">Налаштування</a>
                    </div>

                    <div class = "linkdiv exitlink">
                        <div class = "icondiv"><img src="{% static 'images/header_icons/exit.png' %}"></div>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button>Вихід</button>
                        </form>
                    </div>

                </div>
            {% endif %}
            
        </header>

        <main>
            {% block content %}

            {% endblock %}
        </main>
        
        
    </body>
</html>