{% extends "base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="align-div">
        <div class="frame">
            <div class="links">
                <a href="{% url 'registration' %}">Реєстрація</a>
                <a id="page" href="{% url 'login' %}">Авторизація</a>
            </div>
            <h1>Приєднуйся до World IT</h1>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class = "form-field">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
                <button type="submit">Увійти</button>
            </form>
        </div>
    </div>
{% endblock %}





