{% extends "base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href = "{% static 'css/registration.css' %}">
{% endblock %}       

{% block content %}
    <div class="align-div">
        <div class = "frame">
            <div class="links">
                <a id = "page" href = "{% url 'registration' %}">Реєстрація</a>
                <a href = "{% url 'login' %}">Авторизація</a>
            </div>
            <h1>Приєднуйся до World IT</h1>
            <form method="post">
            {% csrf_token %}
                {% for field in form %}
                    <div class = "form-field">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
            <button type="submit">Створити акаунт</button>
            </form>
        </div>
    </div>
    
  
{% endblock %}